/** {*/
    /*outline: 1px solid red !important;*/
/*}*/

.btn-right {
    float: right;
    margin-right: 20px;
}
.text-black {
    color: black;
}

.underlined {
    text-decoration: underline;
}

/*div {*/
  /*color: red;*/
/*}*/
