<div class="inner">
  <h3 class="masthead-brand">Пчёло счёт</h3>
  <nav>
    {% if user.is_authenticated %}
    <p>Добро пожаловать, {{ user.email }}</p>
    <ul class="nav masthead-nav">
      {% url 'hive-detail' d_id as link %}
      <li {% if link == request.path %} class="active" {% endif %}>
        <a href='{{ link }}'> Ваш улей</a>
      </li>
      {% url 'beekeeper-settings' as link %}
      <li {% if link == request.path %} class="active" {% endif %}>
        <a href="{{ link }}"> Настройки</a>
      <li>
      </li>
        <a href='{% url 'logout' %}' class="btn btn-default"> Выйти</a>
      </li>
    </ul>
    {% else %}
    <ul class="nav masthead-nav">
      <li>
        <a href='{% url 'registration' %}'>Зарегистрироваться</a>
      </li>
      <li>
        <a href='{% url 'login' %}' >Войти</a>
      </li>
    </ul>
    {% endif %}
  </nav>
</div>
