
<div class="row">
  <div class="col-md-6">
    <img class="img-responsive" src="http://placekitten.com/600/50" alt="bee_logo"/>
  </div>
  <div class="col-md-6">
    {% if user.is_authenticated %}
    <div class="row down">
      <div class="col-md-5">
        Добро пожаловать, {{ user.email }}
      </div>
      <div class="col-md-3">
        <a href='{% url 'hive-detail' %}' class="btn-right"        > Ваш улей</a  >
      </div>
      <div class="col-md-2">
        <a href='{% url 'beekeeper-settings' %}' class="btn-right" > Настройки</a >
      </div>
      <div class="col-md-2">
        <a href='{% url 'logout' %}' class="btn-right"             > Выйти</a     >
      </div>
    </div>
    
    {% else %}
      <a href='{% url 'registration' %}' class="btn btn-success btn-right">Зарегистрироваться</a>
      <a href='{% url 'login' %}' class="btn btn-success btn-right">Войти</a>
    {% endif %}
  </div>
</div>
