{% extends "base.html" %}

{% block main %}

{% if hists %}
<div class="table-responsive">
    <table class="table">
        {% for history in hists %}
        <tr>
            <th>
                <a class="underlined" href="http://www.diary.ru/member/?{{ history.d_id }}">{{ history.d_name }}</a>
            </th>
            <th>
                {{ history.action_display }} {{ history.old_name }}
            </th>
            <th>
                on {{ history.when }}
            </th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

<div>
    {% if bees %}
        <div>
            Ваши постоянные читатели на сегодняшний день:
        </div>
        <div>
            {% for k, v in bees.items %}
            <a class="underlined" href="http://www.diary.ru/member/?{{ k }}">{{ v }}</a> 
            {% endfor %}
        </div>
    {% else %}
        {% if updated %}
            У Вас пока нет постоянных читателей.
        {% else %}
            Пожалуйста, подождите. Идёт подсчёт пчёл.    
        {% endif %}
    {% endif %}
</div>
{% endblock main %}
